$susy: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);


#main {
  @include container;
}

.header {
  @include padding-leader(4);
  @include padding-trailer(2);
  @include trailer(2);
}

.title {
  margin-right: 4rem;
}