body {
  background: #f2f0db;
  
  color: #46453f;
}

.logoy {
  background: #5c4b51;
  text-align: left;
}

.header {
  background: white;
  background: #f2f0db;
  background: #f9f8ee;
  color: #f06060;
  color: #f3b562;
  text-align: left;
}

.fear {
  color: #8cbeb2;
}