body {
  background: #f2f0db;  
  color: #46453f;
}

.logoy {
  background: #5c4b51;
  text-align: left;  
}

.header {
  background: #f9f8ee;
  color: #f3b562;
  text-align: left;
}

.fear {
  color: #8cbeb2;
}

.logoy .container {
  position: relative;
  &:before {
    display: block;
    position: absolute;
    width: 12em;
    height: 7em;
    top: -7.5em;
    left: -.5em;
    content: "";
    background: #f06060;
    border-bottom: .5em solid #904040;
  }
  &:after {
    display: block;
    position: absolute;
    width: 12em;
    height: 1em;
    top: 3em;
    left: -.5em;
    content: "";
    background: #f06060;
    border-top: .5em solid #904040;
  }
}

.footer {
  background: #5c4b51;
  background: #8cbeb2;
  color: #5c4b51;
}