@import "compass-setup";
@import "meyer-reset";
@import "susy";
@import "breakpoint";

$paper: #f9f8ee;
$tan:   #f2ebdb;
$plum:  #5c4b51;
$dark-plum: #46453f;
$red:   #f06060;
$iron:  #904040;
$teal:  #8cbeb2;
$dark-teal: #529282;
$orange:#f3b562;

@import "type";
@import "layout";
@import "theme";

@import "home";
